.slogan-section {
  padding: 88px 0;
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: #fff;
  background: url("../images/qt-bg.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  .slogan {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .author {
    font-size: 28px;
    font-weight: 600;
  }
}
